* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #101010;
}

/** ------------ H E A D E R ------------ **/

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    overflow: auto;
}

header h1 a {
    font-size: 55px;
    font-family: 'Bungee Shade', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.849);
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

header nav .nav-link {
    font-family: anton, sans-serif;
    font-size: 32px;
    padding: 10px 18px;
    text-decoration: none;
    color: rgb(247, 66, 0);
}

header nav .nav-link:hover {
    text-decoration: underline;
    color: rgb(247, 96, 0);
}

/** ------------ M A I N - C O N T A I N E R ------------ **/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 70%;
    margin: auto;
    padding-top: 100px;
}

.main-container .quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quote-container #faceImg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.849);
    width: 100%;
}

.quote-container #faceImg-container #mug-shot {
    border-radius: 50%;
    border: thin solid rgba(255, 255, 255, 0.849);
    height: 250px;
    width: auto;
}

.quote-container #faceImg-container h2 {
    font-size: 255%;
    margin-top: 15px;
    font-family: 'permanent marker', 'Patua One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quote-container #quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: thin solid white;
    height: 180px;
    width: 800px;
    background: rgba(245, 245, 245, 0.959);
    border-radius: 25px;
    margin: 25px 0;
}

.quote-container #quote-box #quote {
    color: black;
    text-align: center;
    font-size: 140%;
    font-family: comfortaa, 'Patua One', Roboto, sans-serif;
    width: 80%;
}

.main-container #quote-button {
    width: 200px;
    height: auto;
    font-size: 25px;
    padding: 15px 0;
    margin-bottom: 180px;
    border-radius: 25px;
    font-family: comfortaa, Roboto, sans-serif;
}

/** ------------ F O O T E R ------------ **/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:rgba(255, 255, 255, 0.767);
    width: 100%;
    /*padding-top: 12%;*/
    padding-bottom: 20px;
}

footer h3 {
    border-top: solid thin rgba(255, 255, 255, 0.363);
    padding: 12px 0 0 2%;
}

footer a {
    padding-top: 7px;
    padding-left: 2%;
    font-size: 125%;
    color: rgb(247, 66, 0);
    text-decoration: none;
}

footer a:hover {
    color: rgb(247, 96, 0);
    text-decoration: underline;
}