html {
    background: black;
} /*delete this element */

.contain-head {
    background: black;
}

header {
    padding: 17px 0;
    border: groove thin #e6e6e6;
}

header .row {
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Anton', sans-serif;
}

nav a {
    padding: 0 20px;
    margin: 0;
    color: #f35516;
}

.main-container {
    background: black;
}

.character {
    background: #262626;
    color: #f35516;
    padding: 20px 5px;
    font-family: 'Bungee Inline', cursive;
}

.character p {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-right: 55px;
    font-size: 1.65rem;
}

.character img {
    border: inset thin #e6e6e6;
}

.contain-footer {
    background: black;
    padding: 20px 0;
}

footer {
    background: black;
    color: #a6a6a6;
    padding-bottom: 43px;
    padding-top: 3px;
    border: groove thin #e6e6e6;
}
