html {
    background: #262626;
}

.contain-head {
    background: black;
}

header {
    padding: 17px 0;
}

header .row {
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
  font-family: 'Anton', sans-serif;
}

nav a {
    padding: 0 20px;
    margin: 0;
    color: #f35516;
}

.container row {
    display: flex;
}

.main-container {
    padding: 20px 0;
    background: #262626; /*dark grey same as background for html{} */
}

.attention {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.attention h2 {
    color:  #a6a6a6;
}

.seasons {
    background: #a6a6a6;
    margin: 10px 0;
    border: inset medium #999999;
}

.seasons h2 {
    color: black;
    font-family: 'Audiowide', cursive;
}

.seasons a {
    color: #f35516;
    font-family: 'Coda', cursive;
}

#update {
    font-family: 'Roboto', sans-serif;
    color: #a6a6a6;
    padding: 5px 0;
}
